main {
    gap: 2vh;
}

main > br {
    display: none;
}

h1 {
    grid-row: 1;
}

.difficulty {
    grid-row: 2;
    color: white;   
    text-underline-offset: 0.11em;
}

.artemis {
    grid-row: 3;
}

.show1 {
    grid-row: 4;
}

.show2 {
    grid-row: 5;
}

.artemis, .show1, .show2 {
    width: 80%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: clamp(100px, 10vw + 1rem 300px) clamp(100px, 10vw + 1rem 300px) auto auto;

    background-color: var(--background);
    border-radius: var(--border-radius);
    border: var(--border);
    padding-bottom: 2rem;
}

.show-image {
    grid-column: 1;
    grid-row: 1/span 3;

    text-align: center;
    justify-self: left;
    margin: 1.25rem;

/* show image size */
    width: 12em;
    height: 12em;

    border-radius: var(--border-radius);
    border: var(--border);
}

h2 {
    grid-column: 2;
    grid-row: 1;

    /* make sure longer titles left align */
    text-align: left;

    justify-self: left;
    align-self: end;
}

h3 {
    grid-column: 2;
    grid-row: 2;

    /* make sure longer subtitles left align */
    text-align: left;

    justify-self: left;
    align-self: self-start;
}

audio::-webkit-media-controls-panel {
    background-color: #ababab;
}

audio {
    height: clamp(1em, 1em + 1vw , 5em);
    width: 80%;
    min-width: 140px;
    max-width: 500px;
    margin-bottom: 2.5vh;
}

.buyer-info {
    grid-column: 1/span 2;
    grid-row: 4;

    flex-wrap: wrap;
    box-sizing: border-box;
    row-gap: 10px;
    justify-content: center;

    display: flex;
    margin: 0% 5%;
    gap: 2vw;
}

.link-style-1 {
    text-decoration: underline;
    text-underline-offset: 0.15em;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
}

h4 {
    padding: 10px;
    border-radius: var(--border-radius);
    border: var(--border);
}

h4, .link-style-1 {
    align-self: center;
    font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
}

p {
    grid-column: 1/-1;
    grid-row: 5;

    margin: 2% 5%;
    width: 90%;
    min-height:fit-content;
    min-width: none;
}

.row-6 {
    grid-column: 1/-1;
    grid-row: 6;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 3rem;
    margin: 2% 5%;
}

@media (max-width: 1500px) {
    .row-6 {
        flex-direction: column;
        align-items: center;
    }
}

.license-ul li {
    text-align: left;
}

.instrumentation {
    display: flex;
    place-content: center;
    gap: 4rem;

    text-align: left;
}

summary:hover {
    cursor: pointer;
    color: white;
}

b {
    font-size: larger;
}

.instrumentation-battery b, .instrumentation-fe b {
    position: relative;
    top: -0.66rem;
    right: 1.25rem;
} 

.show-video {
    grid-column: 1/-1;
    grid-row: 7;

    text-align: center;
    justify-self: center;

    border-radius: var(--border-radius);
    border: var(--border);
    margin: 2rem 2rem 0 2rem;
    background-color: white;
}

video {
    border-radius: var(--border-radius);
}
